body {
    background-image: url('/src/Imagenes/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
}

img {
    width: 700px;
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

h1 {
    color: #be6edc;
    font-family: cursive;
    font-size: 85px;
}
h2 {
    color: #ffffff;
}
.footer {
    width: 100%;
    background-color: #be6edc;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
    max-width: 800px; 
    width: 100%; 
}

.barra {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}
  
.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
  }
  