* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
  img {
    width: 700px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: 1; 
    position: relative; 
  }
  
  h1 {
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 65px;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
  }

  h3 {
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
  }

  h4 {
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
  }
  
  p {
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    flex: 1;
  }
  
  .portada .image img {
    height: 500px;
    width: 400px;
    margin-left: 30%;
    position: relative; 
    z-index: 1; 
  }
  
  .barra {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
  }
  
  .circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .contenedor {
    padding: 20px;
    color: white;
    width: 100%;
    margin: 0;
  }
  
  .portada {
    background-color: #96bda8;
    height: 550px;
    display: flex;
    align-items: center;
    position: relative; 
    z-index: 0; 
  }
  
  .portada-content {
    display: flex;
    width: 100%;
  }
  
  .portada .image {
    display: flex;
    align-items: center;
    z-index: 1; 
  }
  
  .portada .text {
    flex: 1;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 7%;
    z-index: 0; 
  }
  
  .contacto {
    background-color: #f7d3a3;
    height: 140px;
    width: 100%; 
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px; 
    z-index: 0; 
  }
  
  .contacto-content {
    display: flex;
    width: 100%;
  }
  
  .contacto .text {
    flex: 1;
    margin-left: 39%;
    margin-top: auto;
  }
  
  .sobre-mi {
    background-color: #966c80;
    height: 550px;
  }
  
  .sobre-mi-content {
    display: flex;
    width: 100%;
  }
  
  .sobre-mi .text {
    flex: 1;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
  }
  
  .educacion {
    background-color: #bfd4ad;
    color: black;
    height: 400px;
  }
  
  .educacion-content {
    display: flex;
    width: 100%;
  }
  
  .educacion .image img {
    height: 550px;
    width: 500px;
    margin-left: 160%;
    margin-top: 35%;
    position: relative; 
    z-index: 1; 
  }
  
  .educacion .image {
    display: flex;
    align-items: center;
    z-index: 1; 
  }
  
  .educacion .text {
    flex: 1;
    margin-top: 2%;
    margin-right: 50%;
    margin-left: -28%;
  }
  
  .educacion .text h3 {
    margin-top: 2%;
  }

  .habilidades {
    background-color: #eca36c;
    height: 550px;
  }
  
  .habilidades-content {
    display: flex;
    width: 100%;
  }
  
  .habilidades .text {
    flex: 1;
    margin-left: 7%;
    margin-right: 8%;
  }
  
  .contenedor h1 {
    margin-top: 0;
  }

  .seccion {
    margin-top: 25px;
}

.soft-skills {
  background-color: #f7d3a3;
  height: 300px;
}

.soft-skills-content {
  display: flex;
  width: 100%;
}

.soft-skills .text {
  flex: 1;
  margin-top: 2%;
  margin-left: 10%;
}

.proyectos {
  background-color: #96bda8;
  height: 600px;
}

.proyectos-content {
  display: flex;
  width: 100%;
}

.proyectos .text {
  flex: 1;
  margin-top: 2%;
  margin-left: 10%;
}

.proyectos .image img {
  height: 500px;
  width: 550px;
  margin-left: 15%;
  margin-top: 5%;
  position: relative; 
  z-index: 1; 
}

.proyectos .image {
  display: flex;
  align-items: center;
  z-index: 1; 
}